@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.root {
    display: grid;
}

hr {
    background-color: rgb(165, 210, 255);
}

.sidebar {
    transition: .2s;
    position: sticky;
    top: 0;
    width: 0;
    height: 100vh;
    padding: 0px;
    background-color: #3F2E3E;
    box-sizing: border-box;
}

.article {
    transition: .2s;
    width: 100%;
    height: auto;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(7,25,82,1) 100%);
    padding: 0;
    margin: 0;
}

.burger {
    background-color: rgba(0,0,0,0);
    /* color: white; */
    position: sticky;
    z-index: 999;
    top: 0;
    left: 20%;
    padding: 0;
    width: 50px;
    height: 50px;
}

.sidebarTitle {
    color: #97FEED;
    position: absolute;
    display: none;
    margin: 3% 7%;
}

.shortcut { 
    opacity: 0; 
    display: block;
    color: #97FEED;
    transition: opacity 0.8s linear,
}

.shortcut a {
    color: #97FEED;
}

.landing {
    /* width: 100%; */
    background-color: gray;
    height: 100vh;
}

.landingVideo {
    z-index: -100;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bawah {
    display: flex;
    width: 100%;
    height: 100%;
}

.hr {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
.hr:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

.hr2 {
    background-color: white;
}

.icon-tabler-navigation-filled {
    transform: rotate(90deg);
    filter: invert(80%) sepia(81%) saturate(204%) hue-rotate(98deg) brightness(103%) contrast(103%);
}

.content {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.teks {
    text-align: center;
    margin: auto;
    width: 50vw;
    height: 20vh;
    margin-top: 40vh;
    padding: 30px 0;
    /* background: rgba(0, 0, 0, 0.5); */
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, .6));
}

.contentBox {
    border-radius: 20px;
    margin: 5% auto;
    padding: 70px;
    width: 70%;
    height: 90%;
    background-color: #3F2E3E;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, .6);
}

.linkIcon {
    filter: invert(81%) sepia(74%) saturate(2245%) hue-rotate(178deg) brightness(100%) contrast(106%);
}

.btnLink {
    background-color: rgba(0,0,0,0);
    border: none;
    filter: none;
    box-shadow: none;
    height: auto;
}

section p {
    font-size: 18px;
    color: #97FEED;
    font-family: 'Mukta', sans-serif;
    text-align: justify;
}

.penjelasan img {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
    height: auto;
}

.penjelasan {
    padding-left: 3%;
}

ol li {
    font-size: 20px;
}